<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <h3>新規会員登録</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-2 pt-4">
      <p>名前</p>
　  </div>
　  <div class="col-1 pt-4">
      <p>(姓)</p>
　  </div>
　  <div class="col-2">
　    <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "令和" %>
　  </div>
　  <div class="col-1 pt-4">
      <p>(名)</p>
　  </div>
　  <div class="col-2">
　    <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "道子" %>
　  </div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>フリガナ</p>
　  </div>
　  <div class="col-1 pt-4">
      <p>(セイ)</p>
　  </div>
　  <div class="col-2">
　    <%= f.text_field :last_kana_name, autocomplete: "last_kana_name", placeholder: "レイワ" %>
　  </div>
　  <div class="col-1 pt-4">
      <p>(メイ)</p>
　  </div>
　  <div class="col-2">
　    <%= f.text_field :first_kana_name, autocomplete: "first_kana_name", placeholder: "ミチコ" %>
　  </div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>メールアドレス</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"><p></p></div>
　  <div class="col-2">
　    <%= f.text_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"><p></p></div>
　  <div class="col-2"></div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>郵便番号(ハイフンなし)</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2">
　    <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2"></div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>住所</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"><p></p></div>
　  <div class="col-5">
　    <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
　  </div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>電話番号</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2">
　　  <%= f.text_field :telephone_number, autocomplete: "telephone_number", placeholder: "0000000000" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2"></div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>パスワード(6文字以上)</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2">
　  　<%= f.password_field :password, autocomplete: "new-password" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2"></div>
　</div>
　<div class="row">
    <div class="col-2 pt-4">
      <p>パスワード(確認用)</p>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2">
　    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2"></div>
　</div>
  <div class="row">
    <div class="col-2 pt-4">
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2">
　    <%= f.submit "新規登録", class: "btn btn-success text-white" %>
　  </div>
　  <div class="col-1 pt-4 pl-5"></div>
　  <div class="col-2"></div>
　</div>
  <% end %>
　<%= render "devise/shared/links" %>
</div>